<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8" >
</head> 
 <h1>Cadatro de Clientes</h1>
 </br>
  <a href="#clienteList">
    Lista Cliente
     <img alt="Novo" src="resources/img/list-icon.png" border="0">
 </a>
  </br>
   </br>
<div class="text-center">   
<div class="col-lg-10 col-md-9" ng-init="carregarEstados();">
	<div class="card">
		<div class="header"></div>
		<div class="content">
			<form id="formCliente" ng-submit="salvarCliente();">
				<div class="row">
					<div class="col-md-3">
						<div class="form-group">
							<label>Id</label> <input type="text"
								class="form-control border-input" 
								disabled 
								placeholder="Id"
								ng-model="cliente.id">
						</div>
					</div>

				</div>
				<div class="row">

					<div class="col-md-4">
						<div class="form-group">
							<label>Nome</label> <input type="text"
								class="form-control border-input" 
								placeholder="Nome" 
								required="required"
								ng-model="cliente.nome">
						</div>
					</div>
					<div class="col-md-8">
						<div class="form-group">
							<label for="exampleInputEmail1">Endereço</label> <input
								type="text" class="form-control border-input"
								placeholder="Endereço"
								required="required"
								ng-model="cliente.endereco">
						</div>

					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label>Telefone</label> <input type="text"
								class="form-control border-input" 
								placeholder="Telefone"
								required="required"
								ng-model="cliente.telefone">
						</div>
					</div>
					
					<div class="col-md-4">
						<div class="form-group">
							<label>sexo</label>
							<select ng-model="cliente.sexo" class="form-control border-input"
							placeholder="Nome">
							     <option value="Masculino">Masculino</option>
							     <option value="Feminino">Feminino</option>
							</select> 
						</div>
					</div>
					
						<div class="col-md-1">
						<div class="form-group">
							<label>Ativo</label>
							<input type="checkbox"  class="form-control border-input" ng-model="cliente.ativo">
						</div>
					</div>
				</div>
				
				<div class="row">
				    <div class="col-md-3">
						<div class="form-group">
							<label>Banco de dados</label>
							<input type="radio" name="interesse" class="form-control border-input" ng-model="cliente.interesse">
						</div>
					</div>
					
					  <div class="col-md-3">
						<div class="form-group">
							<label>Programação</label>
							<input type="radio" name="interesse" class="form-control border-input" 
							ng-model="cliente.interesse" ng-checked="true" value="programacao">
						</div>
						</div>
						
						<div class="col-md-4">
						<div class="form-group">
							<label>Engenharia de Software</label>
							<input type="radio" name="interesse" class="form-control border-input" ng-model="cliente.interesse">
						</div>
						</div>
						
				</div>
				
				<div class="row">
					<div class="col-md-2">
						<div class="form-group">
							<label>Estados</label>
                            <select ng-model="cliente.estados.id" 
                                id="selectEstados" 
                                class="form-control border-input">
                                  <option>Selecione</option>
                                   <option 
                                       ng-repeat="est in dataEstados"
                                       
                                       ng-click="carregarCidades(est)"
                                          value="{{est.id}}">{{est.sigla}}
                                      </option>
                            </select>
						</div>
					</div>
					
					<div class="col-md-5">
						<div class="form-group"> 
						   <label>Cidades</label> 
							<select id="selectCidades" ng-model="cliente.cidades.id" 
							class="form-control border-input"> 
							<option value="">Selecione</option>
							  <option
								  ng-repeat="cid in cidades"
								  value="{{cid.id}}">{{cid.nome}}</option>
							</select>	
						</div>
					</div>				
				</div>			
				
				</div>

				<div class="text-center">
					<button type="submit" class="btn btn-info btn-fill btn-wd">Cadastrar</button>
				<button type="submit" class="btn btn-info btn-fill btn-wd"
					ng-click="$scope.cliente={}">Limpar</button>
				</div>
				</br>
				</br>
			</form>
		</div>
	</div>
</div>
</html>